APScheduler==3.0.2
BeautifulSoup==3.2.1
cssselect==0.9.1
futures==2.2.0
goose-extractor==1.0.8
jieba==0.32
jusText==2.1.0
lxml==3.3.0
nltk==2.0.4
Pattern==2.6
Pillow==2.3.0
pymongo==2.6.3
pytz==2015.2
PyYAML==3.10
requests==2.2.1
six==1.9.0
tzlocal==1.1.3
